body {
    background-color: yellow;
  }
#button1{
    background-color: rgb(255, 183, 0);
}
#button2{
    background-color: rgb(226, 43, 43);
}
#button3{
    background-color: rgb(43, 217, 226);
}
.post1{
    background-color: rgb(133, 20, 220);
}
.post2{
    background-color: rgb(20, 220, 127);
}
.post3{
    background-color: rgb(20, 177, 220);
}